$color-base-black: #111111;
$color-base-white: #ffffff;

/* primary color */
$color-primary-dark: #131b4d;
$color-primary-normal: #2417ce;
$color-primary-enable: #4359fc;
$color-primary-disable: #a2acf6;

/* neutral color */
$color-neutral-gray-900: #111111;
$color-neutral-gray-800: #333333;
$color-neutral-gray-700: #555555;
$color-neutral-gray-600: #666666;
$color-neutral-gray-500: #767676;
$color-neutral-gray-400: #888888;
$color-neutral-gray-300: #999999;
$color-neutral-gray-200: #bbbbbb;
$color-neutral-gray-100: #e1e1e1;
$color-neutral-gray-50: #f1f1f5;

/* background color */
$color-background-dark: #f1f1f5;
$color-background-normal: #f7f7fb;
$color-background-light: #ffffff;

/* interaction color */
$color-interaction-normal: #f7f7fb;
$color-interaction-light: #ffffff;

/* Line color */
$color-line-black: #111111;
$color-line-deep: #d8d8e1;
$color-line-dark: #e5e5ec;
$color-line-normal: #f1f1f5;

/* status color */
$color-status-success: #04b014;
$color-status-warnning: #ffaa00;
$color-status-error: #dc0000;
$color-status-info: #4359fc;
// :root {
//   /* base color */
//   $color-base-black: #111111;

// }
