/* @font-face {
  font-family: 'Pretendard Variable';
  font-weight: 800;
  src: url('/assets/fonts/Pretendard-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 700;
  src: url('/assets/fonts/Pretendard-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 600;
  src: url('/assets/fonts/Pretendard-SemiBold.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 500;
  src: url('/assets/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 400;
  src: url('/assets/fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 300;
  src: url('/assets/fonts/Pretendard-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Pretendard Variable';
  font-weight: 200;
  src: url('/assets/fonts/Pretendard-Thin.woff2') format('woff2');
} */

* {
  font-family: 'Pretendard Variable' !important;
  transition: all 0.3s;
}

html,
body {
  font-size: 10px;
}

#wrap {
  flex: 1;
}

html,
body {
  /* 추가 */
  height: 100;
  display: flex;
  flex-direction: column;
}

/* h1,
h2,
h3,
h4,
h5,
h6, */

html,
body,
div,
span,
applet,
object,
iframe,
/* h1,
h2,
h3,
h4,
h5,
h6, */
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
  /* 4/15 추가 */
  cursor: pointer;
}

select {
  cursor: pointer;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d8d8e1;
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.48px;
  appearance: none;
}

select:hover::after {
  color: #f39c12;
}

input::placeholder {
  color: #999;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: -0.48px;
}

.errors {
  color: #dc0000;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.36px;
}

.success {
  color: #04b014;
  font-size: 12px;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: -0.36px;
}

input[type='text']:focus {
  border: 1px solid #a2acf6;
  background: #fff;
}

input[type='text']:disabled {
  border: 1px solid #d8d8e1;
  background: #f1f1f5;
}

input[type='text']:hover {
  border: 1px solid #d8d8e1;
  background: #f7f7fb;
}

input[type='radio'] {
  appearance: none;
  cursor: pointer;
}
/* 
input[type='radio']:not(checked) {
  border: none;
  background: url('/svgs/icon_radio_off.svg') no-repeat;
}

input[type='radio']:checked {
  border: none;
  background: url('/svgs/icon_radio_on.svg') no-repeat;
} */

input[type='checkbox'] {
  margin: 0;
  width: 24px;
  height: 24px;
  appearance: none;
  cursor: pointer;
}
/* 
input[type='checkbox']:not(checked) {
  background: url('/svgs/icon_checkbox_off.svg') no-repeat;
}
input[type='checkbox']:checked {
  background: url('/svgs/icon_checkbox_on.svg') no-repeat;
} */

button {
  display: block;
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  /* 4/15 추가 */
  cursor: pointer;
}

.wrap {
  width: 100%;
}

.between_align {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.between {
  display: flex;
  justify-content: space-between;
}

.align_center {
  display: flex;
  align-items: center;
}

.my_swiper_event > .swiper-wrapper > .swiper-slide {
  width: auto !important;
}

.my_swiper > .swiper-wrapper {
  transition-timing-function: linear !important;
}
.my_swiper > .swiper-wrapper > .swiper-slide {
  width: auto;
}

.main_swiper {
  width: 100%;
}

.main_swiper .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
}

.main_swiper .swiper-pagination-bullet-active {
  background: #0b0d10 !important;
}

.main_swiper .swiper-button-prev {
  width: 9px;
  height: 16px;
  top: 99.5%;
  left: 45%;
  color: #0b0d10;
  background: url('/assets/images/common/prev.png');
  z-index: 5000;
}

.main_swiper .swiper-button-prev::after {
  content: none;
}

.main_swiper .swiper-button-next {
  width: 9px;
  height: 16px;
  top: 99.5%;
  right: 45%;
  color: #0b0d10;
  background: url('/assets/images/common/next.png');
  z-index: 5000;
}

.main_swiper .swiper-button-next::after {
  content: none;
}

.event_swiper {
  width: 100vw !important;
}

.service_swiper .swiper-wrapper {
  display: flex;
}
.service_swiper .swiper-wrapper .swiper-slide {
  width: auto !important;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}
.inline_desktop {
  display: inline;
}

select {
  outline: none;
  appearance: none;
  -webkit-appearance: none; /* for chrome */
  -moz-appearance: none; /*for firefox*/
}
select::-ms-expand {
  display: none;
}

.family_swiper .swiper-wrapper {
  display: flex;
  padding: 25px 20px;
}
.graph_swiper {
  padding: 0 3rem;
}
.graph_swiper .swiper-wrapper {
  display: flex;
}

@media (max-width: 1075px) {
  .family_swiper .swiper-wrapper {
    display: flex;
    padding: 20px 0 20px 20px;
  }

  .family_swiper > .swiper-wrapper > .swiper-slide {
    width: 100% !important;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .inline_desktop {
    display: none;
  }

  .main_swiper .swiper-button-prev {
    display: none;
  }
  .main_swiper .swiper-button-next {
    display: none;
  }

  .graph_swiper .swiper-wrapper {
    display: inline-flex;
  }
}

@media (min-width: 641px) {
  html,
  body {
    font-size: 16px;
    /* 추가 */
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 1075px) {
  .main_swiper .swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
  }
}

@media (max-width: 640px) {
  html,
  body {
    font-size: 10px;
  }
}

@media (max-width: 1075px) {
  select {
    cursor: pointer;
    padding: 1.2rem;
    border-radius: 0.8rem;
    border: 1px solid #d8d8e1;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
    letter-spacing: -0.042rem;
    appearance: none;
  }
  input {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
    letter-spacing: -0.042rem;
  }
  input::placeholder {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem; /* 142.857% */
    letter-spacing: -0.042rem;
  }
  input[type='radio'] {
    margin: 0;
    width: 2.8rem;
    height: 2.8rem;
    appearance: none;
    cursor: pointer;
  }
}
